/* common */
body{font-size:12px;font-family:Dotum,"돋움",helvetica,AppleGothic,sans-serif;color:#666;text-align:center;}
a{color:#666;text-decoration:none;}
a:hover{color:#666;text-decoration:underline;}